:root
{
--Softred: hsl(10, 79%, 65%);
--Cyan: hsl(186, 34%, 60%);
--Darkbrown: hsl(25, 47%, 15%);
--Mediumbrown: hsl(28, 10%, 53%);
--Cream: hsl(27, 66%, 92%);
--Verypaleorange: hsl(33, 100%, 98%);
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}
body
{
  display: grid;
  place-items:center;
  font-size: 18px;
  background-color: var(--Cream);
  min-height: 100vh;
}
.header
{
  background-color: var(--Softred);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 1rem;
}
.container
{
  background-color: var(--Verypaleorange);
  padding: 20px;
  border-radius: 1rem;
}
.ProfitLoss
{
  display: flex;
  justify-content: space-between;
}
.incDec
{
  text-align: end;
}
