:root
{
--Softred: hsl(10, 79%, 65%);
--Cyan: hsl(186, 34%, 60%);
--Darkbrown: hsl(25, 47%, 15%);
--Mediumbrown: hsl(28, 10%, 53%);
--Cream: hsl(27, 66%, 92%);
--Verypaleorange: hsl(33, 100%, 98%);
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}
body
{
  padding: 30% 0;
  display: grid;
  place-items:center;
  font-size: 18px;
  background-color: var(--Cream);
  min-height: 100vh;
}
.header
{
  background-color: var(--Softred);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 1rem;
}
.container
{
  background-color: var(--Verypaleorange);
  padding: 20px;
  border-radius: 1rem;
}
.ProfitLoss
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.incDec
{
  text-align: end;
}
.bars
{
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.bar
{
  text-align: center;
  align-self: flex-end;
}
.bar:hover>.dollar
{opacity: 1;}
.dollar
{
  background-color: var(--Darkbrown);
  color: var(--Verypaleorange);
  padding: 5px 10px;
  border-radius:5px;
  opacity: 0;
}
.barHeight
{
  background-color: var(--Softred);
  margin: 7px;
  height: 150px;
  border-radius: 5px;
  align-items: flex-end;
}
.barHeight:hover
{
  cursor: pointer;
  filter: opacity(80%);
}
.barHeight:active
{
  cursor: pointer;
  background-color: var(--Cyan);
}
.day
{
  color: var(--Mediumbrown);
}
#mon
{
  height:calc(17.45*3px);
}
#tue
{
  height:calc(34.91*3px);
}
#wed
{
  height:calc(52.36*3px);
}
#thu
{
  height:calc(31.07*3px);
}
#fri
{
  height:calc(23.39*3px);
}
#sat
{
  height:calc(43.28*3px);
}
#sun
{
  height:calc(25.48*3px);
}
h1
{
  color: var(--Verypaleorange);
}
p
{
  color: var(--Cream);
}
h2
{
  color: var(--Darkbrown);
  font-size: 35px;
}
.cfooter h2
{
  font-size: 50px;
}
h4
{
  color:var(--Mediumbrown)
}
.incDec h4
{
  font-weight: lighter;
}
@media (width>500px) {
  body{
    padding: 0;
  }
}